{% extends 'main/base_layout.html' %}
{% block main-content %}
<div class="container">
    <div class="row">
        <div class="text-center col-12">
            <div class="card">
                <div class="card-title">
                    {{movie.name}}
                </div>
                <div>{{movie.description}}</div>
                <div>{{movie.likes}}</div>
                <div>
                    <ul>
                    {% for cast in movie.casts.all %}
                        <li>{{ cast.producer }}</li>
                        {% endfor %}
                    </ul>
                </div>
                 <div>
                    <ul>
                    {% for review in movie.review_set.all %}
                        <li>{{ review.comment }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


        </div>


    </div>
</div>
{% endblock %}